<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
      .row {
        margin-top: 1rem;
      }
    </style>
    <title><%= title %></title>
  </head>

  <body>
    <header>
      <h1 class="text-center">FMB - URL Shortener</h1>
    </header>
    <main class="container">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label for="url">Enter URL</label>
            <input type="url" name="url" id="url" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
          <div class="row" id="output">
            <div class="col-md-12">
              <input
                type="text"
                name="cst"
                id="cst"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
      </form>
    </main>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    const prod = true;
    const API = prod ? "https://desolate-forest-30340.herokuapp.com" : "http://localhost:5000";

    const form = document.querySelector("form");
    const output = document.getElementById("output");
    const outmod = document.getElementById("cst");

    output.style.display = 'none';

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const url = document.getElementById("url").value.toString().toLowerCase();
      const regUrl = new RegExp("(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})")

      if(url.match(regUrl)) {
        const data = { url };
      
        const res = await fetch(`${API}/url`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        body = await res.json();

        outmod.setAttribute('value', body.newUrl);
        output.style.display = 'inline';
        } else {
          console.log("Invalid Url");
        }
    });
  </script>
</html>
